html{
    color:red;
    text-align: center;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
<<<<<<< HEAD
    text-decoration: none;
=======
    font-size: 10px;
>>>>>>> style
}